.green
{
	color:green;
}
.black
{
	color:black;

}
.blue
{
	color:blue;

}
.red
{
		color:red;

}
#text
{
	font-size: 40px;
	font-weight: bold;
 position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}
.rectangle-red
{
	background: red;
	    height: 60px!important;
}
.rectangle-green
{
	background: green;
	    height: 60px!important;
}
.rectangle-black
{
	background: black;
	    height: 60px!important;
}
.rectangle-blue
{
	background: blue;
	    height: 60px!important;
}
.keys
{
	font-size:20px;
	text-align: center;
	border:1px solid #ccc;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	padding:20px;
	border-radius: 5px;
}
.result
{
	margin-top: 50px;
		margin-bottom: 50px;
	text-align: center;
		width: 40%;
	margin-left: auto;
	margin-right: auto;

			padding:20px;

}
.result-finished
{
		margin-top: 50px;
		margin-bottom: 50px;
	text-align: center;
		width: 40%;
	margin-left: auto;
	margin-right: auto;
		border:1px solid #ccc;
			padding:20px;
	border-radius: 5px;
}
.intro
{
	text-align: center;
	width: 40%;
	margin-left: auto;
	margin-right: auto;

}
body
{
	font-family: 'Open Sans', sans-serif;

}